<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зміна паролю</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>

  <body>
    <div class="email-container">
      <h1>Шановний користувачу!</h1>
      <p>Ви подали запит на скидання пароля. Щоб змінити свій пароль, натисніть кнопку нижче:</p>
      <a href="{{ reset_url }}">Змінити пароль</a>
      <p>Якщо ви не надсилали цей запит, просто проігноруйте цей лист. Ваші дані залишаться в безпеці.</p>
    </div>
  </body>
</html>
